<div class="contact-page-content" style="padding:15px;">
	<div class="statistic" style="width:100%;margin-bottom:40px;">
		<%= embedded_svg 'contact.svg', class: "statistic-img" %>
	</div>

	<h3 style="font-weight: 700;margin-bottom:30px;">Contact Us</h3>
	CEO: Klendor Vene.
</div>