
.send-comment {
	display:grid;
	text-align:center;
	height:35px;
	width:35px;
	border-radius:25px;
	transition: background 0.4s ease;
	cursor:pointer;
	border:0px;
	user-select:none;

}

.send-comment:hover {
	background-color:none;
}

.send-comment-img  {
	width:16px;
	height:16px;
	margin:auto;
}

.comment {
	padding-bottom:20px;
	display:flex;
	width:100%;
	height:100%;

}

.reply {
	padding-bottom:15px;
	display:flex;
	width:100%;

}

.comment-middle {
	display:inline-block;
	width:100%;
	margin-left:10px;
}

.comment-middle-up {
	display:flex;
	width:100%;
	height:15px;
	align-items:center;
}

.comment-left {
	display:inline-block;
}

.comment-right {
	display:inline-block;
	height:100%;
}

.comment-right-up {
	height:15px;
	align-items: center;
	display: flex;
}


.comment-user-img {
	display:inline-block;
	position:relative;
}

.comment-username {
	font-size:15px;
	font-weight:700;
	display:inline-block;

}

.comment-date {
	font-size:11px;
	font-weight:400;
	margin-left:10px;
	display:inline-block;
	color: #828282;

}

.comment-delete {
}

.comment-delete-btn {
	display: grid;
	width:35px;
	height:35px;
	text-align: center;
  	vertical-align: middle;
  	transition: background 0.4s ease;
  	border-radius:25px;
}

.comment-delete-btn:hover {
	background-color: #404040;
}

.comment-delete-btn i {
	color: #ececec;
	font-size:12px;

}

.comment-delete-btn:hover i {
	color: #e0245e;
}

.comment-body {
	margin-top:10px;
	display:inline-block;
	background-color:#f3f3f3;
	color: #a9a9a9;
	padding:10px;
	max-width:90%;
	border-radius:3px 15px 15px 15px;
}

.comment-body p {

	margin-bottom: 0;
}

.comment-area {
  position: relative;
  border-radius: 4px;
  max-width: 100%;

}

textarea {
  resize: none;
  background-color: transparent;
  width: calc(100% - 35px);
}

textarea:focus {
  outline: none;
}

.icon {
  position: absolute;
  top:3px;
  right: 10px;
}



.morecontent span {
  display: none;
}

a.morelink {
  text-decoration: none;
  outline: none;
}

.comment-heart {
	display: grid;
	text-align:center;
	height:26px;
	width:26px;
	border-radius:25px;
	transition: background 0.4s ease;
	cursor:pointer;

}

.comment-heart.active {
	background: linear-gradient(139deg, rgba(250,177,219,1) 0%, rgba(255,219,126,1) 100%);
}

.comment-heart.active .comment-heart-img {
	fill:#ececec;
}


.comment-heart:hover {
	background: linear-gradient(139deg, rgba(250,177,219,1) 0%, rgba(255,219,126,1) 100%);
}

.comment-heart:hover .comment-heart-img {
	fill: #ececec;
}

.comment-heart-img  {
	fill:#333;
	width:15px;
	height:15px;
	margin: auto;
	vertical-align: middle;
}
