#main {
	margin: 0 auto;
	height: 100%;
}

img {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.btn-load-more {
	background: linear-gradient(139deg, rgba(250,177,219,1) 0%, rgba(255,219,126,1) 100%);
	border-radius:25px;
	color: #fff;
	box-shadow:none !important;
	outline:none;
	width:100%;
	transition: opacity ease 0.4s;
}

.btn-load-more:hover {
	opacity: 0.75;
	color: #fff;
}

.btn-lopp {
	background-color:#00efaf;
	border-color: #00efaf;
	color: #fff;
	width:100%;
	box-shadow:none !important;
	border-radius:25px;
}

#postituste-lopp {
	display:none;
	padding-bottom:30px;
}
