
.side-menu-post-image {
    width: 65px;
    height: 65px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius:15px;
}

.side-menu-post {
	cursor:pointer;
	transition: background 0.4s ease;
	border-radius:15px;
}

.side-menu-post:hover {
	background-color: #f7f7f7;
}


