<div class="about-page-content" style="padding:15px;">

	<div class="statistic" style="width:100%;margin-bottom:40px;">
		<%= embedded_svg 'statistic1.svg', class: "statistic-img" %>
	</div>
	<h3 style="font-weight: 700;margin-bottom:30px;">About Us</h3>

	<p><b>Defiboost</b> is a community-driven <b>Defi</b> token paradise. 
	Tokens on <b>Binance Smart Chain</b> are getting more and more popular. Every day new tokens are being released.
	But since tokens are booming right now that also means you should be careful of what you invest in.
	Unfortunately, there are a lot of <b>scam</b> tokens being released. So before you invest any money please do your own research!
	Defiboost is not providing a financial advice! You should always do your own <b>research</b> and invest only what you can afford to <b>lose</b>!</p>

	<p>Join our <b>discord</b> server and come talk to other people about different tokens or crypto in general.
	Keep in mind that most of these newly released tokens are just meme-,shitcoins.
	Although there are possibilities to make money on these tokens. It is like high-risk high-reward type of scenario.
	As we have seen some of these new tokens have pumped in price like 10x,50x, and even 100x. 
	Come join our discord and let's try to find these <b>together</b>!</p>


</div>