<nav class="navbar nav-center fixed-top navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/">Unirocket</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	  	<div class="burger-icon">
	  		<%= image_tag 'burger.svg', size: "16" %>
	  	</div>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav ml-auto">
	      <a class="nav-item nav-link" href="#">Cryptocurrencies <span class="sr-only">(current)</span></a>
	      <a class="nav-item nav-link" href="#">About Us</a>
	      <a class="nav-item nav-link" href="#" style="font-weight: 400;">Contact</a>
	      	<% if !user_signed_in? %>
		      <div class="login" style="min-width:130px;">
		      	<%= link_to "Log in", new_user_session_path, class: "btn", style: "color:white;border-radius: 25px;font-size:14px;background-color: #037dd6;letter-spacing: 1px;margin:auto;width:100%;" %>
		      </div>
		    <% else %>
		      <div class="logout" style="min-width:130px;">
		      	<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn", style: "color:white;border-radius: 25px;font-size:14px;background-color: #037dd6;letter-spacing: 1px;margin:auto;width:100%;" %>
		      </div>
		    <% end %>

	    </div>
	  </div>
</nav>